@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<IEnumerable<BlockListItem>>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models.Blocks;

@{
    const string DefaultFooterNodeName = "DefaultFooter";
    const string HomeName = "Home";
    const string FooterItemsPropertyName = "footerItems";

    // Get Home Node
    var rootNode = Umbraco.ContentAtRoot().Where(x => x.Name == HomeName).FirstOrDefault();

    // Get Default Footer Properties
    var defaultFooterNode = rootNode.Children.FirstOrDefault(x => x.Name == DefaultFooterNodeName);

    // Get default footer items
    var blocksList = Model.ToList(); 
    var defaultBlocksList = defaultFooterNode?.Value<IEnumerable<BlockListItem>>(FooterItemsPropertyName);

    if (blocksList is null || !blocksList.Any())
    {
        blocksList = defaultBlocksList?.ToList();
    }

    var defaultImageUrl = Url.Content("~/assets/default.webp");
}

<head>
    <link href="~/Styles/footer-carousel.css" rel="stylesheet" />
</head>

<div id="footerCarousel" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <!-- Carousel indicators will be rendered here -->
    </ol>

    <div class="carousel-inner">
        <!-- Carousel content will be rendered here -->
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#footerCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>

    <button class="carousel-control-next" type="button" data-bs-target="#footerCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<script>
    function handleResizeFooter() {
        const currentWindowWidth = window.innerWidth;
        const isMobile = currentWindowWidth <= 767;
        const wasMobile = prevWidth <= 767;

        if (isMobile !== wasMobile) {
            renderFooterLayout();
        }

        prevWidth = currentWindowWidth;
    }

    function renderFooterLayout() {
        const isMobile = window.innerWidth <= 767;
        const carouselInner = document.querySelector('#footerCarousel .carousel-inner');
        const carouselIndicators = document.querySelector('#footerCarousel .carousel-indicators');
        carouselIndicators.innerHTML = '';
        carouselInner.innerHTML = '';

        if (isMobile) {
            @{
                int index = 0;
            }
            @foreach (var block in blocksList)
            {
                var content = (ContentModels.FooterItems)block.Content;
                
                var imageUrl = string.IsNullOrWhiteSpace(content.FooterItemImage?.Url()) ? defaultImageUrl : content.FooterItemImage?.Url();
                var isActive = index == 0 ? "active" : "";
                <text>
                    carouselInner.insertAdjacentHTML('beforeend', `
                        <div class="carousel-item @(isActive)">
                            <div class="carousel-item-content">
                                <div class="row">
                                    <div class="col-12"> <!-- Adjust column size for mobile -->
                                        <div class="image-container align-items-center">
                                            <div class="carousel-img-container">
                                                <a href="@content.FooterItemUrl?.Url">
                                                    <img src="@imageUrl" class="d-block object-fit-cover carousel-image" alt="..." > <!-- Adjust max-width for smaller images -->
                                                </a>
                                            </div>
                                            <div style="margin-left: 20px;"> <!-- Add more margin for spacing -->
                                                <div class="carousel-text">
                                                    <p class="text-ellipsis" style="font-size: 14px;">@content.FooterItemText1</p> <!-- Adjust font size -->
                                                    <p class="text-ellipsis" style="font-size: 14px;">@content.FooterItemText2</p> <!-- Adjust font size -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    `);
                    carouselIndicators.insertAdjacentHTML('beforeend', `
                        <li data-bs-target="#footerCarousel" data-bs-slide-to="@index" class="@isActive"></li>`);
                </text>
                index++;
            }
        } else {
            // Render desktop layout
            @for (int i = 0; i < blocksList.Count; i += 3)
            {
                var isFirst = i == 0;
                <text>
                    carouselInner.insertAdjacentHTML('beforeend', `
                        <div class="carousel-item @(isFirst ? "active" : "")">
                            <div class="carousel-item-content">
                                <div class="row">
                                    @for (int j = 0; j < 3 && i + j < blocksList.Count; j++)
                                    {
                                        var block = blocksList[i + j];
                                        var content = (ContentModels.FooterItems)block.Content;
                                        var imageUrl = string.IsNullOrWhiteSpace(content.FooterItemImage?.Url()) ? defaultImageUrl : content.FooterItemImage?.Url();
                                        <div class="col-md-4"> <!-- Adjust column size for desktop -->
                                            <div class="d-flex align-items-center">
                                                <div class="carousel-img-container">
                                                    <a href="@content.FooterItemUrl?.Url">
                                                        <img src="@imageUrl" class="d-block object-fit-cover" alt="..." style="max-width: 200px;"> <!-- Adjust max-width for smaller images -->
                                                    </a>
                                                </div>
                                                <div style="margin-left: 20px;"> <!-- Add more margin for spacing -->
                                                    <div class="carousel-text">
                                                        <p class="text-ellipsis" style="font-size: 14px;">@content.FooterItemText1</p> <!-- Adjust font size -->
                                                        <p class="text-ellipsis" style="font-size: 14px;">@content.FooterItemText2</p> <!-- Adjust font size -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    `);
                    carouselIndicators.insertAdjacentHTML('beforeend', `
                        <li data-bs-target="#footerCarousel" data-bs-slide-to="@(i / 3)" class="@(i==0 ? "active" : "")"></li>`);
                </text>
            }
        }
    }

    let prevWidth = window.innerWidth;

    window.addEventListener('load', renderFooterLayout);
    window.addEventListener('resize', handleResizeFooter);
    window.addEventListener('DOMContentLoaded', renderFooterLayout); // Call initially to set the correct layout
</script>
