@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<LandingPage>

@{
    Layout = null;
    var rootNode = Umbraco.ContentAtRoot().FirstOrDefault();
    IEnumerable<IPublishedContent> GetVisibleChildren(IPublishedContent node)
    {
        return node.Children().Where(x => x.IsVisible());
    }
    IEnumerable<IPublishedContent> GetVisibleDescendants(IPublishedContent node)
    {
        return GetVisibleChildren(node).Concat(GetVisibleChildren(node).SelectMany(GetVisibleDescendants));
    }
    var allVisiblePages = GetVisibleDescendants(rootNode);
}
<!DOCTYPE html>
<html>
<head>
    @await Html.PartialAsync("~/Views/Partials/_metaData.cshtml")
    <link rel="stylesheet" href="~/Styles/navigation.css" />
</head>
<body>
    <nav id="navigation">
        <div>
            <ul>
                @if (allVisiblePages != null && allVisiblePages.Any())
                    {
                        var dropdownId = 0;
                @foreach (var item in allVisiblePages)
                        {
                            var hasChildLinks = item.Name == "Emprendimiento" || item.Name == "Capacitacion" || item.Name == "Ferias y Eventos" || item.Name == "Sector Industrial" || item.Name == "Apoyos y Financiamientos";
                @if (hasChildLinks)
                            {
                <li>
                    <a href="@item.Url()">@item.Name</a>
                    <ul>
                        @foreach (var childLink in item.Children())
                                        {
                        <li>
                            <a href="@childLink.Url()">@childLink.Name</a>
                            @*
                                <ul >
                                    @foreach (var thirdLink in childLink.Children())
                                    {
                                        <li >
                                            <a href="@thirdLink.Url()">@thirdLink.Name</a>
                                        </li>
                                    }
                                </ul>
                            *@
                        </li>
                                        }
                    </ul>
                </li>
                            }
                            dropdownId++;
                        }
                    }
            </ul>
        </div>
    </nav>
</body>
</html>