@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models.PublishedContent
@{
    Layout = null;
    var rootNode = Umbraco.ContentAtRoot().FirstOrDefault();
    // Método para obtener los hijos visibles
    IEnumerable<IPublishedContent> GetVisibleChildren(IPublishedContent node)
    {
        return node.Children().Where(x => x.IsVisible());
    }
    // Método para obtener los descendientes visibles filtrados
    IEnumerable<IPublishedContent> GetFilteredVisibleDescendants(IPublishedContent node)
    {
        var visibleDescendants = GetVisibleChildren(node).Concat(GetVisibleChildren(node).SelectMany(GetVisibleChildren));
        // Buscar la página "DDEYC"
        var ddeycPage = visibleDescendants.FirstOrDefault(x => x.Name == "DDEYC");
        if (ddeycPage != null)
        {
            return GetVisibleChildren(ddeycPage);
        }
        return Enumerable.Empty<IPublishedContent>();
    }
    var allVisiblePages = GetFilteredVisibleDescendants(rootNode);
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/Styles/navigation.css" />
</head>
<body>
    <div class="navigation-container">
        <nav id="navigation">
            <div>
                <div class="mobileMenu">
                    <a href="@rootNode.Url()">
                        <i class="homeButton fa-solid fa-house"></i>
                    </a>
                    <a id="open-menu">
                        <i id="bars" class="fas fa-bars"></i>
                    </a>
                </div>
                <ul>
                    <li>
                        <a href="@rootNode.Url()">
                            <i class="hideHome fa-solid fa-house"></i>
                        </a>
                    </li>
                    @if (allVisiblePages != null && allVisiblePages.Any())
                    {
                        foreach (var item in allVisiblePages)
                        {
                            var hasChildLinks = item.Children().Any(x => x.IsVisible());
                            if (hasChildLinks)
                            {
                                <li class="has-dropdown">
                                    <a class="parent-link" href="@item.Url()">@item.Name</a>
                                    <button class="dropdown-arrow fas fa-chevron-down"></button>
                                    <ul class="dropdown">
                                        @foreach (var childLink in item.Children().Where(x => x.IsVisible()))
                                        {
                                            var visibleGrandChildren = childLink.Children().Where(x => x.IsVisible());
                                            <li class="has-subdropdown">
                                                <a class="child-link" href="@childLink.Url()">@childLink.Name</a>
                                                @if (visibleGrandChildren.Any())
                                                {
                                                    <button class="dropdown-arrow fas fa-chevron-down"></button>
                                                    <ul class="sub-dropdown">
                                                        @foreach (var grandChildLink in visibleGrandChildren)
                                                        {
                                                            <li>
                                                                <a href="@grandChildLink.Url()">@grandChildLink.Name</a>
                                                            </li>
                                                        }
                                                    </ul>
                                                }
                                            </li>
                                        }
                                    </ul>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a href="@item.Url()">@item.Name</a>
                                </li>
                            }
                        }
                    }
                </ul>
            </div>
        </nav>
    </div>
    <script src="~/Scripts/mobileMenuToggle.js"></script>
</body>
</html>
