@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models.Blocks;

@{
    const string NewsCarouselAlias = "newsCarousel";
    var blocks = Model.Value<IEnumerable<BlockListItem>>(NewsCarouselAlias);

    if (blocks == null)
    {
        return;
    }
}

<div id="newsCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        @{
            var chunkSize = 2;
            var blockChunks = blocks.Chunk(chunkSize);
        }

        @foreach (var blockChunk in blockChunks)
        {
            var isFirst = blockChunks.IndexOf(blockChunk) == 0;

            <div class="carousel-item @(isFirst ? "active" : "")">
                <div class="row gx-0">
                    @foreach (var block in blockChunk)
                    {
                        var content = (ContentModels.NewsCarouselItems)block.Content;
                        var settings = (ContentModels.NewsCarouselItems)block.Settings;

                        <div class="col-md-6">
                            <div class="carousel-item-content d-flex">
                                <div class="carousel-caption">
                                    <h5>@content.NewsCarouselItemText1</h5>
                                    <p>@content.NewsCarouselItemText2</p>
                                </div>
                                <div class="carousel-image-container">
                                    <img src="@content.NewsCarouselItemImage.Url()" class="d-block w-100 h-100 object-fit-cover"
                                        alt="..." href="@content.NewsCarouselItemUrl.Url">
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#newsCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#newsCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
