@using Umbraco.Cms.Core.Models;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<IHeaderProperties>
@{
    const string DefaultHeaderNodeName = "DefaultHeader";
    const string HomeName = "Home";
    const string THI = "TopHeaderImage";
    const string BH1 = "BottomHeaderImage1";
    const string BH2 = "BottomHeaderImage2";
    const string BH3 = "BottomHeaderImage3";
    const string HIUrl1 = "HeaderImageUrl1";
    const string HIUrl2 = "HeaderImageUrl2";
    const string HIUrl3 = "HeaderImageUrl3";
    //Get Home Node
    var rootNode = Umbraco.ContentAtRoot().Where(x => x.Name == HomeName).FirstOrDefault();
    //Get Default Header Properties
    var defaultHeaderPropertiesNode = rootNode.Children.FirstOrDefault(x => x.Name == DefaultHeaderNodeName);
    //Check which properties are set on the current page and use default for the rest
    var topHeaderImage = Model.TopHeaderImage ?? defaultHeaderPropertiesNode?.Value<IPublishedContent>(THI);
    var bottomHeaderImage1 = Model.BottomHeaderImage1 ??
    defaultHeaderPropertiesNode?.Value<IPublishedContent>(BH1);
    var bottomHeaderImage2 = Model.BottomHeaderImage2 ??
    defaultHeaderPropertiesNode?.Value<IPublishedContent>(BH2);

    var headerImageUrl1 = Model.HeaderImageUrl1?.Url ?? defaultHeaderPropertiesNode?.Value<Umbraco.Cms.Core.Models.Link>(HIUrl1)?.Url ?? "#";
    var headerImageUrl2 = Model.HeaderImageUrl2?.Url ?? defaultHeaderPropertiesNode?.Value<Umbraco.Cms.Core.Models.Link>(HIUrl2)?.Url ?? "#";
    var headerImageUrl3 = Model.HeaderImageUrl3?.Url ?? defaultHeaderPropertiesNode?.Value<Umbraco.Cms.Core.Models.Link>(HIUrl3)?.Url ?? "#";
        }
<head>
    <link href="~/Styles/Header.css" rel="stylesheet" />
</head>
<header>
    @if (!Model.HideHeaderImages)
    {
        <div>
            <div class="row centered-col">
                @if (bottomHeaderImage1 != null)
                {
                    <div class="header-atag-a d-flex justify-content-start align-items-center">
                        <a href="@headerImageUrl1">
                            <img src="@bottomHeaderImage1.Url()" class="logo-img w-100" alt="ChihuahuaGobiernoMunicipal_logo">
                        </a>
                    </div>
                }
                @if (topHeaderImage != null)
                {
                    <div class="header-atag-b d-flex justify-content-center align-items-center">
                        <a href="@headerImageUrl2">
                            <img src="@topHeaderImage.Url()" class="logo-img-b w-100" alt="idea_logo">
                        </a>
                    </div>
                }
                @if (bottomHeaderImage2 != null)
                {
                    <div class="header-atag-c d-flex justify-content-end align-items-center">
                        <a href="@headerImageUrl3">
                            <img src="@bottomHeaderImage2.Url()" class="logo-img-c w-100" alt="CapitalChihuahua_logo">
                        </a>
                    </div>
                }
            </div>
            <div class="row">
                <div class="rainbow-box">
                </div>
            </div>
        </div>

    }
</header>
