@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<object>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels
@using Umbraco.Cms.Core.Models.Blocks


@{
    Layout = null;
    const string HomeName = "Home";
    const string DefaultSurveyNodeName = "DefaultSurvey";
    const string Questions = "questions";

    //get Home Node
    var rootNode = Umbraco.ContentAtRoot().Where(x => x.Name == HomeName).FirstOrDefault();

    // ghet default Survey
    var DefaultSurveyNode = rootNode.Children.FirstOrDefault(x => x.Name == DefaultSurveyNodeName) as ContentModels.SurveyForm;

    // get Questions Content
    IEnumerable<BlockListItem> DefaultQuestions = DefaultSurveyNode?.Value<IEnumerable<BlockListItem>>(Questions) ?? Enumerable.Empty<BlockListItem>();
}
<head>
    <link rel="stylesheet" href="~/Styles/encuesta.css" />
</head>

<body>
    <div id="survey-container">
        <form class="survey-form">
            <div>
                @if (DefaultSurveyNode != null)
                {
                    <h2>@DefaultSurveyNode.QuestionTitle</h2>
                    <div>@Html.Raw(DefaultSurveyNode.Description?.ToHtmlString())</div>
                }
            </div>
            <div>
                <label class="fw-bold" for="name">Nombre:</label>
                <input class="d-flex" type="text" id="name" name="name" required>
            </div>
            <div>
                <label class="fw-bold" for="phone">Telefono:</label>
                <input class="d-flex" type="tel" id="phone" name="phone" required>
            </div>
            <div>
                <label class="fw-bold" for="email">Email:</label>
                <input class="d-flex" type="email" id="email" name="email" required>
            </div>
            @foreach (var question in DefaultQuestions)
            {
                @if (question != null && question.Content is ContentModels.QuestionElement questionElement)
                {
                    <div>
                        <label class="fw-bold">@questionElement.Question</label>
                        @foreach (var answers in questionElement.Answer)
                        {
                            @if (answers.Content is ContentModels.RichTextItems richTextItems)
                            {
                                <div>
                                    <input type="radio" name="@questionElement.Question" value="@richTextItems.RichText" />
                                    <label>@richTextItems.RichText</label>
                                </div>
                            }
                                
                        }
                    </div>
                }
            }
            <button type="submit">Submit</button>
        </form>
    </div>
    <script src="~/Scripts/DisplayTimerSurveyForm.js"></script>
</body>
